CQRS-ES/CQRS.Core/obj/
SM-Post/Post.Cmd/Post.Cmd.Infrastructure/obj/*
SM-Post/Post.Query/Post.Query.Api/obj/
SM-Post/Post.Query/Post.Query.Infrastructure/obj/*
SM-Post/Post.Query/Post.Query.Infrastructure/obj/
CQRS-ES/CQRS.Core/bin/
SM-Post/Post.Cmd/Post.Cmd.Api/bin/*